/* 
#ffffff
#001128
#1e3765 */
*{
    margin: 0;
    padding: 0;
    border: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(#00545d,#000729);
    /* background: linear-gradient(#fdfd,#000729);  */
    /* color:#fff; */
}

.container{
    width: 50vw;
    height: 50vh;
    background-color:#fff ;
    border-radius: 2rem;
    padding:2rem ;
    text-align: center; 
    color: #001128;  
    display: flex;
    flex-direction: column;
}

form {
    margin: 2rem;
    border: none;
}
form input,p,button {
    margin: .5rem;
    /* border: none; */
    outline: none;
    width: 100%;
    height: 2rem;
}
form div{
    height: auto;
}

.form{
    display: flex;
    height: 200px;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}
.form .select,.options{
    margin: .5rem;
    height: 25%;
}
.icon{
    margin-left: 1rem;
    margin-right: 2rem;
}
.select{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
}

h4{
    font-size: larger;
}

#to-country,#from-country{
    margin-left: 5px;
    width: 5rem;
    border: none;
    outline: none;
}

button{
    /* background-color:#266ca9; */
    background: linear-gradient(#00545d,#000729);
    color: #fff;
    font-size: larger;
    border-radius: .5rem;
    outline: none;
    border: none;
}

input{
    font-size: larger; 
    border-top: none;
    border-left: none;
    border-right: none;
    /* border-radius: .5rem;    */
}

.dropdowns{
    display: flex;
    border: 1px solid;
    height: 300%;
}

img{
    transform: scale(1);
    margin-left: 4px;
}

button:hover{
    /* text-shadow: 1px 1px 1px rgb(255, 160, 223); */
    /* filter: drop-shadow(0 0 1px black); */
    /* border: 1px solid rgb(228, 225, 225); */
    scale: 1.05;
}

button:active{
    /* text-shadow: none; */
    /* filter: none; */
    scale: 1;
}

@media screen and (max-width:800px){
    *{
        padding:0;
        margin: 0;
    }
    body{
        width: 100%;
        height: 100%;
    }
    .container{
        width: 70%;
        height: 50vh;
        background-color:#fff ;
        border-radius: 2rem;
        padding:2rem ;
        text-align: center; 
        color: #001128;  
        display: flex;
        flex-direction: column;
    }
    form input,p,button {
        margin: .2rem;
        /* border: none; */
        outline: none;
        width: 100%;
        height: 2rem;
    }
    .icon{
        margin-left: 1rem;
        margin-right: 1.5rem;
    }
    .select{
        width: 30%;
        display: flex;
        flex-wrap: wrap;
    }
    h4{
        font-size: medium;
        position: relative;
        bottom:15%;
        left:18%
    }
    .dropdowns{
        width: 90%;
        height: 250%;
        position: relative;
        right: 12px;
    }
    .amount{
        width: 110%;
        position: relative;
        right: 10px;
        font-size:medium;
        padding: 5px;
    }
    p{
        position: relative;
        bottom:20px;

    }
    button{
        position: relative;
        /* bottom:10px; */
    }
}
@media screen and (max-width:400px){
    form input,p,button {
        margin: .1rem;
        /* border: none; */
        outline: none;
        width: 120%;
        height: 1.5rem;
    }
    p{
        position: relative;
        bottom: 50px;
        right: 15px;
        font-size: small;
    }
    button{
        position: relative;
        /* bottom:10px; */
        right:15px;
        font-size: small;
    }
    h4{
        font-size: small;
    }
    .dropdowns{
        width: 80%;
        height: 150%;
    }
    h1{
        font-size: x-large;
    }
    .amount{
        font-size: small;
        position: relative;
        top:20px;
    }
}